<!-- (ng-app), solo define una aplicacion en concreto. -->
<!-- (ng-controller), es la directiva que se encarga definir nuestro elemento (HTML) como si fuera un componente. -->
<section ng-app="app" ng-controller="ctrl" ng-init="numero = 30;">

	<!-- Hay dos formas de proporcionar propiedad y metodos para los componentes. -->

	<!-- (ng-init), permite definir propiedades y metodos desde el componente. -->

	<div>
		<div ng-if="numero >= 30">
			<p>{{ numero }}</p>
		</div>
	</div>

	<!-- (controlador), desde el controlador. -->

	<div>
		<p>{{ numeroCtrl }}</p>

		<button ng-click="metodoCtrl()">Metodo</button>
	</div>
</section>

<script type="text/javascript">
	const app = angular.module("app", []).controller("ctrl", function($scope){
		// Al controlador (ctrl) se le proporcionan datos por medio del servicio ($scope).

		$scope.numeroCtrl = 80;

		$scope.metodoCtrl = function(){
			numeroCtrl += numeroCtrl;
		};
	});
</script>