/* La propiedad (transform) en CSS permite modificar: 
	--- La (posición), (escala), (rotación) y (perspectiva) de un elemento. */

.elemento{

	display: block;
	display: inline-block;

	/* ------------------------ */
	/* ------ Rotaciones ------ */
	/* ------------------------ */

	/* Rotamos el elemento 50 grados (desde su centro). */
	transform: rotate(50deg);

	/* Rotamos el elemento unicamente en el eje 'X'. */
	transform: rotateX(50deg);

	/* Rotamos el elemento unicamente en el eje 'Y' */
	transform: rotateY(50deg);

	/* Rotamos un elemento (3d) unicamente en el eje 'Z'. */
	transform: rotateZ(45deg);

	/* Rota el elemento en un ambito (3d) recibiendo: 
		--- X, Y, Z, Grados. */
	transform: rotate3d(1, 1, 1, 45deg);

	/* ------------------------------- */
	/* ------ Inclinar elemento ------ */
	/* ------------------------------- */

	/* (skew) permite inclinar un elemento en un ángulo específico en los ejes X e Y.

	El efecto es similar a tomar una figura plana y empujar un extremo hacia arriba mientras 
	se tira del otro extremo hacia abajo. */

	/* Aqui los parametros que se reciben son: (X) e (Y).
	Ejemplo: Elemeto en diagonal (\). */
	transform: skew(15deg, 10deg);

	/* Inclina el elemento unicamente en el eje 'X'. */
	transform: skewX(190deg);

	/* Inclina el elemento unicamente en el eje 'Y' */
	transform: skewY(190deg);

	/* -------------------- */
	/* ------ Escala ------ */
	/* -------------------- */

	/* La funcion (scale). Permite escalar el tamaño de un elemento. */

	/* Representa las dimensiones del elemento, por defecto es 1. */
	transform: scale(1);

	/* El elemento crece 1.2 en todas sus dimensiones. */
	transform: scale(1.2);

	/* El elemento crece 1.6 en el eje 'X' y 1.3 en el eje 'Y'. */
	transform: scale(1.6, 1.3);
	
	/* El elemento crece unicamente en el eje 'X'. */
	transform: scaleX(1.5);
	
	/* El elemento crece unicamente en el eje 'Y'. */
	transform: scaleY(1.5);

	/* El elemento (3d) crece unicamente en el eje 'Z'. */
	transform: scaleZ(10);

	/* ----------------------- */
	/* ------ Trasladar ------ */
	/* ----------------------- */

	/* La funcion (translate) traslada un elemento de un lugar a otro. */

	/* El primer parametro mueve en el eje 'X'.
	   El segundo parametro mueve en el eje 'Y'. */
	transform: translate(190px, 90px);

	/* Mueve el elemento unicamente en el eje 'X'. */
	transform: translateX(190px);

	/* Mueve el elemento unicamente en el eje 'Y'. */
	transform: translateY(90px);

	/* Mueve un elemento (3d) unicamente en el eje 'Z'. */
	transform: translateZ(10px);

	/* ----------------------- */
	/* ------ Matriz 2D ------ */
	/* ----------------------- */

	/* La funcion (matrix) permite definir una transformación personalizada usando una matriz 2D.

	Los primeros 4 parametros representan: 
		--- Los coeficientes de la matriz 2D.
	Los ultimos 2 parametros representan: 
		--- Traslación en (X, Y). */

	/* Estos son los valores predeterminados, (donde no agrega ninguna transformacion). */
	transform: matrix(1, 0, 0, 1, 0, 0);

	/* Aplica una rotacion de 45 grados a un elemento. */
	transform: matrix(0.707, 0.707, -0.707, 0.707, 0, 0);

	/* ------------------------ */
	/* ------ Efectos 3D ------ */
	/* ------------------------ */

	/* Rotamos un elemento (3d) unicamente en el eje 'Z'. */
	transform: rotateZ(45deg);

	/* Rota el elemento en un ambito (3d) recibiendo: 
		--- X, Y, Z, Grados. */
	transform: rotate3d(1, 1, 1, 45deg);

	/* Inclina el elemento unicamente en el eje 'Y' */
	transform: skewY(190deg);

	/* El elemento (3d) crece unicamente en el eje 'Z'. */
	transform: scaleZ(10);

	/* Mueve un elemento (3d) unicamente en el eje 'Z'. */
	transform: translateZ(10px);

	/* ------------------------------- */
	/* ------ Mezclar funciones ------ */
	/* ------------------------------- */

	/* Podemos poner varios valores en una sola propiedad.
		--- Movemos el elemento hacia abajo 190pixeles.
		--- Hacemos 0.5 mas grande al elemento.
		--- Lo rotamos 30 grados. */
	transform: translateY(190px) scale(1.5) rotate(30deg);
}